@font-face {
    font-family: "Suisse Intl";
    font-weight: 400;
    src: url("~fonts/suisse_regular.woff2") format("woff2"),
         url("~fonts/suisse_regular.woff") format("woff");
}
  
@font-face {
    font-family: "Suisse Intl";
    font-weight: 500;
    src: url("~fonts/suisse_book.woff2") format("woff2"),
         url("~fonts/suisse_book.woff") format("woff");
}
@font-face {
    font-family: "Suisse Intl";
    font-weight: 600;
    src: url("~fonts/suisse_semibold.woff2") format("woff2"),
         url("~fonts/suisse_semibold.woff") format("woff");
}
@font-face {
    font-family: "Suisse Intl";
    font-weight: bold;
    src: url("~fonts/suisse_bold.woff2") format("woff2"),
         url("~fonts/suisse_bold.woff") format("woff");
}

@font-face {
    font-family: 'Suisse Intl', sans-serif;
}


body, a, p, span, label, h1, h2, h3, h4, h5, h6, div, textarea, input {
    font-family: "Suisse Intl";
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body, a, span, label, h1, h2, h3, h4, h5, h6, div, textarea, input {
    font-weight: 400;
    line-height: 20px;
    font-size: 15px;
}

p {
    font-weight: 400;
    line-height: 22px;
    font-size: 15px;
}

p, span, a {
    -webkit-user-select: none;
}

a {
    text-decoration: none;
    outline: none;
}

span {
    display: block;
}

.regular {
    font-weight: 400;
}

.book {
    font-weight: 500;
}

.semi-bold, .medium {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.font-title {
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 0;
}

.font-title-huge {
    font-size: 33px;
    line-height: 36px;
    letter-spacing: -1%;
}

.font-title-large {
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 0;
}

.font-body {
    line-height: 20px;
    font-size: 15px;
    font-feature-settings: "tnum" on, "lnum" on;
    letter-spacing: 0;
}

.font-desc {
    line-height: 20px;
    font-size: 13px;
    font-feature-settings: "tnum" on, "lnum" on;
    letter-spacing: 0;
}

.font-tech {
    line-height: 15px;
    font-size: 12px;
    font-feature-settings: "tnum" on, "lnum" on;
    letter-spacing: 0;
}

.font-paragraph {
    line-height: 22px;
    font-size: 15px;
    letter-spacing: 0;
}

.font-counter {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.002em;
    font-feature-settings: 'tnum' on, 'lnum' on;
}