//  colors
$white: #FFFFFF;

$black: #1A1A1A; 
$black-highlight: #333333;
$black-dark: #000000;

$grey2: #FAFAFA;
$grey5: #F2F2F2;
$grey10: #E5E5E5;
$grey33: #ABABAB;
$grey44: #888B90;
$grey50: #808080;
$grey-dark: #89898F;

$red: #D94436;

$green: #32A64F;
$green-highlight: #3EB25B;
$green-dark: #1F993D;

$blue: #0066CC;
$blue-light: #E5F2FF;
$blue-highlight: #1470CC;
$blue-dark: #1262B2;

$cyan-highlight: #00AAFF;
$orange: #FFBA59;

$warning_color: #D17E00;




$cyan-1: #cbf3ff91;
$cyan-5: #a2d6e647;
$cyan-10: #a2d6e6;
$cyan-20:#60aac1;
$cyan-30:#0c7da0;
$cyan-50:#1e9e92;
$cyan-55: #478598;
$cyan-dark-linght: #22586d;
$cyan-dark: #084456;



$colors: (
    "white": $white,
    "black": $black,
    "black-highlight": $black-highlight,
    "black-dark": $black-dark,
    "grey2": $grey2,
    "grey5": $grey5,
    "grey10": $grey10,
    "grey33": $grey33,
    "grey44": $grey44,
    "grey50": $grey50,
    "grey-dark": $grey-dark,
    "red": $red,
    "green": $green,
    "green-highlight": $green-highlight,
    "green-dark": $green-dark,
    "blue": $blue,
    "blue-light": $blue-light,
    "blue-highlight": $blue-highlight,
    "blue-dark": $blue-dark,
    "cyan-highlight": $cyan-highlight,
    "orange": $orange,
    "warning": $warning_color,

    cyan-1: $cyan-1,
    cyan-5: $cyan-5,
    cyan-10: $cyan-10,
    cyan-20: $cyan-20,
    cyan-30: $cyan-30,
    cyan-50: $cyan-50,
    cyan-55: $cyan-55,
    cyan-dark-linght: $cyan-dark-linght,
    cyan-dark: $cyan-dark,
);

$global-container-width: 1300px;
$container-width: 1240px;
$container-max-width: 1240px;

$line-height: 20px;
$row_margin: 20px;